/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url('/media/homepage-image4.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Rubik';
    
}

header {
    background-color: rgb(28, 102, 28);
    color: #ffffff;
    border: 0;
}

main {
    flex: 1;
    min-height: 100vh;
}

.shop-now {
    background-color: rgb(28, 102, 28);
    width: fit-content;
    border: 2px solid rgb(251, 251, 42);
    padding: 0px;
}

.shop-now:hover {
    text-decoration: underline;
}

.btn-style {
    border: 3px solid rgb(251, 251, 42);
    color: rgb(255, 255, 255);
    min-width: 62px;
    min-height: 62px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 0;
}

.btn-products {
    border: 2px solid rgb(251, 251, 42);
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 0;

}

.brand:hover {
    color: rgb(251, 251, 42);
    text-decoration: underline;
}

.btn-products:hover,
.btn-style:hover {
    color:rgb(251, 251, 42);
}

.input-height {
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    position: fixed;
    background: rgb(237, 255, 237);
    z-index: -1;
    border: 0;
}

.product-nav {
    background-color: rgb(28, 102, 28);
}

.custom-top {
    position: relative;
    top: 10vh;
}

/* Footer */
footer {
    bottom: 0;
    background-color: rgb(28, 102, 28);
    color: #ffffff;
}

.hr-footer {
    border: none;
    background-color:rgb(251, 251, 42);
    height: 20px;
}

.bottom {
    margin-top: auto;
    width: 100%;
}