{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row product-nav">
    <nav class="w-100 navbar-nav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="{% url 'products' %}?category=Road,Mountain,Kids" class="nav-link btn btn-outline-success text-white prod-sm btn-products" aria-current="page">All Bikes</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'products' %}?category=Road" class="nav-link btn btn-outline-success text-white prod-sm btn-products">Road Bikes</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'products' %}?category=Mountain" class="nav-link btn btn-outline-success text-white prod-sm btn-products">Mount Bikes</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'products' %}?category=Kids" class="nav-link btn btn-outline-success text-white prod-sm btn-products">Kids Bikes</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="">Pedal Power Bikes</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <a href="{% url 'product_detail' product.id %}" class="product-link">
                        <div class="card mt-3 product-card">
                            <div class="card-header bg-white pb-0">
                                <p class="mb-0 mt-2 fw-bold" title="{{ product.name}}">{{ product.name|truncatechars:18 }}</p>
                            </div>
                            <div class="img-product">
                            {% if "placeholder" in product.image.url %}
                            <img class="card-img p-2 my-2" src="/media/placeholder.png"
                                alt="{{ product.title }}">
                            {% else %}
                            <img class="card-img product-image my-2 p-2" src="{{ product.image.url }}" alt="{{ product.title }}">
                            {% endif %}
                            </div>
                            <div class="card-body bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="mb-2 mt-1 text-left">£{{ product.price }}</p>        
                                    </div>
                                </div>
                                <div class="row mb-2 pb-2">
                                    <div class="col text-center card-footer">
                                        <p class="mb-2 text-end font-weight-bold"><i
                                            class="fa-solid fa-layer-group"></i>{{ product.category }}</p>
                                        {% if request.user.is_superuser %}
                                        <small class="mb-2 mt-2">
                                            <a href="{% url 'edit_product' product.id %}" class="shop-now text-white text-uppercase p-1">Edit</a> | 
                                            <a class="text-danger danger text-uppercase p-1" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}